.profile-card {
    display: flex;
    /* Использовать flexbox */
    flex-wrap: wrap;
    /* Разрешить перенос элементов на следующую строку */
    gap: 10px;
    /* Пространство между элементами карточки */
    width: 300px;
    /* Задаем ширину контейнера для карточек */
    margin: 20px;
    padding: 10px;
    border: 1px dotted black;
}

/* Пример стилей для дочерних элементов карточки */
.profile-card img {
    width: 100px;
    /* Задать ширину изображения */
    height: 100px;
    /* Задать высоту изображения */
}

.profile-card h2,
.profile-card p {
    margin: 0;
    /* Убрать внешние отступы у заголовков и абзацев */
    color: rgb(119, 49, 211);
    font-weight: bold;
}

.profile-card h2.senior {
    color: brown;
}

.profile-card h2.junior {
    color: rgb(42, 165, 89);
}